@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Dashboard ";
}


<div class="row">
    <div class="col-md-12 " style="padding-top:75px;">
        <div class="col-md-2">
            <h2>Dashboard prototypes</h2>
        </div>
        <div class="col-md-10">

        </div>
    </div>
</div>