<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Ultimate" version="4.3.4.13329" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net46" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="mongocsharpdriver" version="2.2.4" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.2.4" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.2.4" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.2.4" targetFramework="net46" />
  <package id="MongoDB.Driver.GridFS" version="2.2.4" targetFramework="net46" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Serilog" version="1.5.1" targetFramework="net46" />
  <package id="Serilog.Sinks.CouchDB" version="1.5.10" targetFramework="net46" />
  <package id="ServiceStack" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Authentication.OAuth2" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Authentication.OAuth2.Signed" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Authentication.OpenId" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Client" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Client.Signed" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Common" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Common.Signed" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Interfaces" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Redis" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Signed" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Text" version="4.0.60" targetFramework="net46" />
  <package id="ServiceStack.Text.Signed" version="4.0.60" targetFramework="net46" />
  <package id="StackExchange.Redis" version="1.1.603" targetFramework="net46" />
</packages>